{
  "plugins": [
    "react-hooks"
  ],
  "extends": [
    "eslint:recommended",
    "react-app"
  ],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "import/no-anonymous-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "settings": {
    "import/extensions": [
      ".js",
      ".jsx",
      ".scss"
    ],
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".ts",
          ".jsx",
          ".tsx"
        ]
      },
      "react": {
        "version": "detect"
      }
    }
  }
}
