{
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "overrides": [
    {
      "files": [
        "*.html"
      ],
      "options": {
        "tabWidth": 2,
        "singleQuote": false
      }
    }
  ]
}
