{
  "extends": [
    "stylelint-prettier/recommended"
  ],
  "rules": {
    "at-rule-no-unknown": null
  },
  "configBasedir": "./client",
  "ignoreFiles": [
    "scripts/**/**",
    "config/**/**",
    "../server/**/**",
    "**/node_modules/**/**"
  ]
}
