---
---

@import '{{ site.theme }}';

$bg-color: #24292e;
$dropdown-bg: #2c313a;
$dropdown-bg-active: #183061;
$head-bg: #21252b;
$tag-bg-color: #1b1d23;
$file-row-active-bg: #434852;
$private-bg: #464542;
$comment-bg: #333842;
$block-bg: #31363f;

$border-color: #181a1f;
$light-border-color: #555;
$highlight-border-color: #e36209;

$font-size: 12px;

$text-color: #9da5b4;
$bright-text-color: #fff;
$text-green-color: #28a745;
$text-red-color: #cb2431;
$text-black-color: #000;

$link-color: #d6d8da;
$link-color-selected: #ccc;
$faded-link-color: #8a939e;

$diff-addition: #103605;
$diff-deletion: #540b07;
$diff-addition-accent: #23691b;
$diff-deletion-accent: #9a0a00;
$diff-accent-font-color: #ccc;

$code-bg: #282c34;
$code-default-color: #abb2bf;
$code-snippet-color: #af6161;

$button-bg-image: linear-gradient(-180deg, #535659 0%, #424549 90%);
$button-bg-image-hover: linear-gradient(-180deg, #636669 0%, #525559 90%);
$button-primary-bg-image: linear-gradient(-180deg, #34d058, #28a745 90%);
$button-primary-bg-image-hover: linear-gradient(-180deg, #2fcb53, #269f42 90%);
$button-danger-bg-image: linear-gradient(-180deg, #636669 0%, #525559 90%);
$button-danger-bg-image-hover: linear-gradient(-180deg, #de4450, #cb2431 90%);
$button-active-color: #4d78cc;

$codecov-num-bg-color-missed: #ef6c6c;
$codecov-num-bg-color-hit: #4fd94f;
$codecov-num-bg-color-partial: #fef04f;

$bg-pending-color: #dbab09;

$search-bg-color: #473f00;
$alert-bg-color: #1e3f56;
$alert-warning-bg-color: #d8937f;

// Scrollbar
$scrollbar-track: #464542;
$scrollbar-thumb: #666666;

// Profile contributions graph variables
$contrib-color: #196127;
$contrib-color-1: #ebeaf0;
$contrib-color-2: lighten($contrib-color, 50%);
$contrib-color-3: lighten($contrib-color, 30%);
$contrib-color-4: lighten($contrib-color, 15%);
$contrib-color-5: $contrib-color;
/*
// Inverted contribution colors (dark to light)
$contrib-color-1: darken($contrib-color, 15%);
$contrib-color-2: $contrib-color;
$contrib-color-3: lighten($contrib-color, 15%);
$contrib-color-4: lighten($contrib-color, 30%);
$contrib-color-5: lighten($contrib-color, 50%);
*/

code {
  background-color: $tag-bg-color !important;
  color: $code-snippet-color !important;
}

.markdown-body {
  h1 {
    border-color: $light-border-color !important;
  }

  h2 {
    border-color: $light-border-color !important;
  }

  hr {
    background-color: $light-border-color !important;
  }

  blockquote {
    border-color: $border-color !important;
    color: inherit !important;
  }

  img {
    background-color: transparent !important;
  }

  code,
  tt {
    background-color: $tag-bg-color !important;
    color: $code-snippet-color !important;
  }

  .highlight pre,
  pre {
    background-color: $tag-bg-color !important;
  }

  table {
    tr {
      background-color: #222 !important;
      border-color: $border-color !important;

      &:nth-child(2n) {
        background-color: #090705 !important;
        border-color: $border-color !important;
      }
    }

    td,
    th {
      border-color: $border-color !important;
    }
  }

  .lead-mktg p {
    color: $text-color !important;
  }

  &.comment-body {
    border-bottom-color: $border-color !important;
  }
}

/* # Layout */

body {
  background-color: $bg-color !important;
  color: $text-color !important;

  &.page-responsive {
    .pagehead {
      background-color: $bg-color !important;
    }
  }

  .UnderlineNav {
    box-shadow: inset 0 -1px 0 $bg-color !important;
  }

  .reponav-item {
    color: $faded-link-color !important;

    &.selected {
      background-color: $bg-color !important;
      border-color: $highlight-border-color $border-color transparent !important;
      color: $link-color !important;
    }

    .octicon {
      color: $faded-link-color !important;
    }
  }

  .pagehead,
  .repohead.experiment-repo-nav {
    background: $head-bg !important;
    border-color: $border-color !important;
  }

  /* Repo label (i.e. Private, Archived) */
  .Label {
    &.Label--outline,
    &.Label--gray {
      color: $text-color !important;
      border-color: $light-border-color !important;
    }
  }

  .site-header {
    background: $head-bg !important;
    border-color: $border-color !important;
  }

  .showcase-page-pattern::after {
    background: $head-bg !important;
    border-color: $border-color !important;
  }

  .form-group {
    .form-control {
      background-color: $tag-bg-color !important;
      border-color: $border-color !important;
      color: $link-color !important;

      &:focus {
        background-color: #1d1f25 !important;
      }
    }
  }

  .form-control,
  .form-select {
    background-color: $tag-bg-color !important;
    border-color: $border-color !important;
    color: $link-color !important;
  }

  .jump-to-field-active {
    color: $link-color !important;
  }

  .flash {
    background-color: $tag-bg-color !important;
    background-image: none !important;
    color: $link-color !important;
  }

  .blankslate {
    background-color: $block-bg !important;
    border-color: $border-color !important;
  }

  .menu {
    background-color: $block-bg !important;
    border-color: $border-color !important;
  }

  .menu-item {
    border-bottom: 1px solid $border-color !important;
    background-color: $dropdown-bg !important;
  }

  .menu-item:hover {
    background-color: #41464f !important;
  }

  .menu-item.selected {
    background-color: $bg-color !important;
    color: $link-color !important;
  }

  .boxed-group .heading,
  .boxed-group > h3 {
    background-color: $dropdown-bg !important;
    border-color: $border-color !important;
  }

  .boxed-group-inner {
    background-color: $dropdown-bg !important;
    border-color: $border-color !important;
  }

  .rule,
  hr {
    border-bottom: 1px solid $border-color !important;
  }

  .file {
    border-color: $border-color !important;
  }

  .file-header {
    color: $link-color !important;
    background-color: $dropdown-bg !important;
    border-color: $border-color !important;
  }

  :not(.commit-build-statuses)
    > a:not(.IssueLabel):not(.IssueLabel--big):not(.lh-condensed-ultra) {
    color: $link-color !important;
  }

  div.commit-build-statuses {
    .text-green {
      color: $text-green-color !important;
    }

    .text-red {
      color: $text-red-color !important;
    }

    .bg-pending {
      color: $bg-pending-color !important;
    }
  }

  .link-gray {
    color: $faded-link-color !important;
  }

  .link-gray-dark,
  body .link-gray-dark {
    color: $link-color !important;
  }

  .link-gray-dark:hover,
  body .link-gray-dark:hover {
    color: $link-color !important;
    text-decoration: underline !important;
  }

  .text-gray-dark,
  body .text-gray-dark {
    color: $text-color !important;
  }

  .text-gray {
    color: $text-color !important;
  }

  .text-emphasized {
    color: $link-color-selected !important;
  }

  .access-form-wrapper {
    background-color: $dropdown-bg !important;
    border-color: $border-color !important;
  }

  .table-list-header-toggle .btn-link.selected,
  .table-list-header-toggle .btn-link.selected:hover {
    color: $link-color-selected !important;
  }

  .table-list-header-toggle .btn-link:hover {
    color: $link-color-selected !important;
  }

  .site-footer {
    border-top: 1px solid $tag-bg-color !important;
  }

  .file-wrap {
    border-color: $border-color !important;
  }

  .table-list {
    border-bottom: 1px solid $border-color !important;
  }

  .table-list-header {
    background-color: $dropdown-bg !important;
    border-color: $border-color !important;
  }

  .table-list-bordered .table-list-cell:last-child {
    border-right: 1px solid $border-color !important;
  }

  .table-list-bordered .table-list-cell:first-child {
    border-left: 1px solid $border-color !important;
  }

  .table-list-cell {
    border-top: 1px solid $border-color !important;
  }

  .breadcrumb {
    color: $link-color !important;
  }

  .breadcrumb strong.final-path {
    color: $bright-text-color !important;
  }

  .overall-summary {
    border-color: $border-color !important;
  }

  .octofication .message {
    border-color: $border-color !important;
  }

  .subnav-search-context .btn {
    color: $link-color !important;
  }

  .btn-link:not(.IssueLabel) {
    color: $link-color !important;
  }

  .social-count {
    color: $link-color !important;
    background-color: #424549 !important;
  }

  .social-count:hover {
    color: $bright-text-color !important;
  }

  .subnav-item {
    border-color: $border-color !important;
  }

  .subnav-item:focus,
  .subnav-item:hover {
    background-color: $comment-bg !important;
  }

  .subnav-item.selected,
  .subnav-item.selected:focus,
  .subnav-item.selected:hover {
    background-color: $button-active-color !important;
    border-color: $button-active-color !important;
  }

  .input-contrast {
    background-color: #424549 !important;
    border-color: $border-color !important;
    color: $link-color !important;
  }

  .input-contrast:focus {
    background-color: #525559 !important;
  }

  .btn-octicon {
    color: $link-color !important;
  }

  .btn-octicon:hover {
    color: $bright-text-color !important;
  }

  .btn-octicon-danger:hover {
    color: $text-red-color !important;
  }

  .filter-bar {
    background: $dropdown-bg !important;
    border-bottom: 1px solid $border-color !important;
  }

  .more-repos {
    background: $dropdown-bg !important;
    box-shadow: inset 0 1px 0 $border-color !important;
  }

  .commit-group-title .octicon-git-commit {
    background: $bg-color !important;
  }

  .commit-icon .octicon {
    background: $bg-color !important;
  }

  .news .alert {
    border-top: 1px solid $border-color !important;
  }

  .news .Details button {
    border-top-color: $border-color !important;

    &:hover {
      background: transparent !important;
      text-decoration: underline !important;
    }
  }

  .news .Details-content--hidden li {
    border-top-color: $border-color !important;
  }

  .dashboard-notice {
    background-color: $block-bg !important;
    border: solid 1px $border-color !important;

    h2 {
      color: $text-color !important;
    }
  }

  .branch-infobar {
    background-color: $tag-bg-color !important;
    border-color: $border-color !important;
  }

  .commit-tease {
    color: $link-color !important;
    background-color: $dropdown-bg !important;
    border-color: $border-color !important;
  }

  .mini-repo-list-item {
    border-top: 1px solid $border-color !important;
  }

  .commit .commit-title,
  .commit .commit-title a {
    color: #bbb2a9 !important;
  }

  .commits-list-item.navigation-focus {
    background: $comment-bg !important;
  }

  .commit-group-title {
    color: #a79f96 !important;
  }

  .commit-tease-contributors {
    background-color: $comment-bg !important;
    border-top: 1px solid $border-color !important;
  }

  .commit-tease-sha {
    color: $link-color !important;
  }

  .commits blockquote {
    color: $text-color !important;
  }

  .reponav-item {
    &:focus,
    &:hover {
      color: $link-color !important;
    }
  }

  .team-mention,
  .user-mention {
    color: $bright-text-color !important;
  }

  .tabnav-pr,
  div {
    .tabnav-tab {
      color: $faded-link-color !important;

      &.selected {
        color: $link-color !important;
        border-color: $border-color !important;
        background: $bg-color !important;
      }

      &:focus,
      &:hover {
        color: $link-color-selected !important;
      }

      .Counter {
        color: $link-color !important;
      }
    }
  }

  .Counter {
    background-color: $border-color !important;
    color: $link-color !important;
  }

  .Box-header--blue {
    color: $link-color !important;
    background-color: $dropdown-bg !important;
    border-color: $border-color !important;
  }

  .Box:not(.ml-1) {
    background-color: $block-bg !important;
    border-color: $border-color !important;
  }

  .dashboard .js-all-activity-header + div {
    background-color: $bg-color !important;
    border-color: $border-color !important;
  }

  .full-commit {
    color: $link-color !important;
    background-color: $dropdown-bg !important;
    border-color: $border-color !important;

    p.commit-title {
      color: $link-color !important;
    }

    .sha-block > .sha {
      color: $link-color !important;
    }

    .commit-meta {
      background-color: $block-bg !important;
      border-color: $border-color !important;
    }
  }

  .copyable-terminal {
    background-color: $tag-bg-color !important;
  }

  .commit-author-section {
    color: $link-color !important;
  }

  .blob-num-expandable,
  .blob-num-hunk {
    background-color: $tag-bg-color !important;
  }

  .blob-code-expandable,
  .blob-code-hunk {
    background-color: $tag-bg-color !important;
  }

  .timeline-commits .hidden-text-expander .ellipsis-expander {
    background-color: $tag-bg-color !important;
  }

  .tabnav {
    border-bottom: 1px solid $border-color !important;
  }

  /* # Search */
  .header-search-current .jump-to-field-active {
    color: $text-color !important;
  }

  .js-jump-to-badge-search-text-default,
  .js-jump-to-badge-search-text-global,
  .js-jump-to-badge-jump {
    color: $text-color !important;
  }

  .code-list .code-list-item + .code-list-item {
    border-color: $border-color !important;
  }

  .code-list .divider .blob-code,
  .code-list .divider .blob-num,
  .code-list-item-private .blob-num {
    background-color: $code-bg !important;
    border-color: $border-color !important;
  }

  .code-list .file-box {
    border-color: $border-color !important;
  }

  /* # Home page */
  .private .mini-repo-list-item {
    background-color: $private-bg !important;
  }

  /* # Settings page */
  /* Orgs */
  .orghead {
    background: $head-bg !important;
    border-color: $border-color !important;

    .org-name {
      color: $link-color;
    }

    .pagehead-tabs-item {
      &.selected {
        background-color: $bg-color !important;
        border-color: $highlight-border-color $border-color transparent !important;
        color: $link-color !important;
      }
    }
  }

  .email-format .email-hidden-toggle a {
    background: $head-bg !important;
  }

  .bg-gray-light {
    background-color: $tag-bg-color !important;
  }

  .bg-yellow-light {
    background-color: $search-bg-color !important;
  }

  .tag-info {
    color: $link-color !important;

    .tag-name {
      color: $text-color !important;
    }
  }

  .Box-header {
    background-color: $dropdown-bg !important;
    border-color: $border-color !important;

    .text-mono {
      background-color: transparent !important;
    }
  }

  .conversation-list-heading {
    border-color: $border-color !important;

    .inner {
      background: $bg-color;
    }
  }

  .simple-conversation-list > li {
    border-color: $border-color !important;
  }

  .application-main {
    .flex-wrap {
      background-color: transparent !important;
    }

    & > main {
      & > div.border-bottom.border-gray-light {
        background-color: $bg-color !important;
      }

      & > .site-subnav + div {
        background-color: $bg-color !important;

        .bg-blue-light {
          background-color: transparent !important;
        }

        .text-gray-light {
          color: $text-color !important;
        }
      }
    }
  }

  .note,
  .help {
    color: $faded-link-color !important;
  }

  .file-commit-form--full {
    background-color: $bg-color !important;
  }
}

@media (min-width: 768px) {
  body {
    &.page-responsive {
      .pagehead,
      .repohead.experiment-repo-nav {
        background-color: $head-bg !important;
      }
    }
  }
}
